h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: "Pixelify Sans";
    color:white;
}

p {
    font-family: "Pixelify Sans";
    color: white;
}

body {
    background-color: #101010;
}
a {
    color:white
}